// to是不包括后者的，生成p0~p5的padding值
@for $i from 0 to 6{
    .p#{$i}{padding:$i*5px};
}
ul{
    margin:0;padding:0;
<<<<<<< HEAD
    li{list-style: none;}
}
a{text-decoration: none;}
=======
    li{
        list-style:none;
    }
}
>>>>>>> ee6c95bd31664e9ccc4779a5f793c11f4d94527e
